AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignOperands: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: true
BreakBeforeBraces: Allman  # always break
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
Standard: Cpp11
TabWidth: 4
UseTab: Never
FixNamespaceComments: false
