[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/rapidcheck"]
	path = libs/rapidcheck
	url = https://github.com/MHeasell/rapidcheck.git
[submodule "libs/protobuf"]
	path = libs/protobuf
	url = https://github.com/google/protobuf.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/cnl"]
	path = libs/cnl
	url = https://github.com/johnmcfarlane/cnl.git
