---
layout: default
---
<h1>Robot War Engine</h1>
<p>
  Open-source real-time strategy game engine that is highly compatible with Total Annihilation data files.
</p>

<p>
  For more information please visit
  <a href="https://github.com/MHeasell/rwe">https://github.com/MHeasell/rwe</a>
</p>

<h2>Posts</h2>

{% for post in site.posts limit:4 %}
  <article class="card my-3">
    <div class="card-body">
      <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
      {{ post.excerpt }}
      <footer>
        <a href="{{ post.url }}" class="btn btn-outline-primary btn-sm">Read More</a>
      </footer>
    </div>
  </article>
{% endfor %}
<div class="my-3">
  <a href="/posts" class="btn btn-primary">See All Posts</a>
</div>

<h3>Miscellaneous Images</h3>
<div class="text-center">
  {% for image in site.data.misc-images %}
  <img class="img-fluid img-thumbnail" src="blank.gif" data-echo="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
  {% endfor %}
</div>

<script src="echo.js"></script>
<script>
  echo.init();
</script>
