<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css" />
  {% if page.title %}
    <title>{{ page.title }} - Robot War Engine</title>
  {% else %}
    <title>Robot War Engine</title>
  {% endif %}
</head>
<body>
  <header class="container">
    <h1 class="text-center">Robot War Engine</h1>
    <ul class="nav justify-content-center site-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery/">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
    </ul>
  </header>
  <main class="container mt-3">
    {% if page.title %}
      <h2>{{ page.title }}</h2>
    {% endif %}
    {{ content }}
  </main>
</body>
</html>
